@font-face {
font-family: "Swagger";
src: url("http://websitedevteam.com/fonts/SDSwaggerTTF.eot");
src: url("http://websitedevteam.com/fonts/SDSwaggerTTF.woff") format("woff"),
url("http://websitedevteam.com/fonts/SDSwaggerTTF.otf") format("opentype")
}
