@font-face {
  font-family: "Swagger";
  src: url("http://websitedevteam.com/fonts/SDSwaggerTTF.eot");
  src: url("http://websitedevteam.com/fonts/SDSwaggerTTF.woff") format("woff"),
       url("http://websitedevteam.com/fonts/SDSwaggerTTF.woff2") format("woff2"),
       url("http://websitedevteam.com/fonts/SDSwaggerTTF.otf") format("opentype"),
       url("http://websitedevteam.com/fonts/SDSwaggerTTF.ttf")  format("truetype");
}
